body {
    background-color: #fff8f0;
}

/* Navbar */
.custom-navbar {
    background-color: white;
    border-bottom: 1px solid #BFDBC8 ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.custom-navbar .nav-link {
    color: #BFDBC8;
}
.custom-navbar .nav-link:hover {
    color: #F3B8BB;
}
.custom-navbar .navbar-toggler {
    color: #BFDBC8;
}

/* Banner */
.banner-custom {
    /*background-image: url(https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png);*/
    background-image: url('../img/produtos/Bolos/4.png');
    background-size: cover;         /* cobre toda a área */
    background-position: center;    /* centraliza a imagem */
    background-repeat: no-repeat;
    padding: 3rem 1rem;
    border: 1px solid #BFDBC8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.banner-custom h1, p {
    color: white;
}
@media (max-width: 768px) {
  .banner-custom {
    padding: 1.5rem 1rem;
    background-size: cover;
  }

  .banner-custom h1 {
    font-size: 1.5rem;
  }

  .banner-custom p {
    font-size: 1rem;
  }

  .banner-custom a.btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

/* Botões */
.btn-custom {
    color: white;
    background-color: #BFDBC8;
    border-color: #BFDBC8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-custom:hover {
    background-color: #F3B8BB;
    border-color: #F3B8BB;
}

.custom-footer {
    margin-top: 25%;
    background-color: white;
    border-top: 1px solid #BFDBC8 ;
}
.custom-footer p {
    color: #BFDBC8;
}

.custom-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.custom-card .card-body {
    padding: 2rem;
}
.custom-card h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.custom-card p {
    color: white;
}

/* Formulário */
.custom-form {
    margin-top: 144px !important;
    margin-bottom: 144px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Links */
.custom-link {
    color: #F3B8BB;
}
.custom-link-verde {
    color: green;
}
.custom-link:hover {
    color: #dd979b;
}
.custom-cadastro {
    text-align: center;
    color: green;
}
.custom-cadastro-vermelho {
    text-align: center;
    color: red;
}

/* Dados do Usuário */
.userdados-custom {
    color: black;
}

/* Contato */
.pblack {
    color: black !important;
}