body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff8f0;
  margin: 0;
  padding: 0;
  color: #261D1A;
}

header {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

h2 {
  margin-top: 0;
  color: #a85c6e;
}

form label {
  display: block;
  margin-top: 15px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #BFDBC8;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #F3B8BB;
}

ul {
  list-style-type: none;
  padding: 0;
}
